*{
    margin: 0;
    padding: 0;box-sizing: border-box;
    font-family: 'Poppins';
    background-color: #FFFFFF;
}

.container{
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 10px;
}
.container_not-activ{
    height: 100vh;
    overflow-y: hidden;
}
.shop{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0 30px 0;
}
.h1{
    font-weight: 700;
    font-size: 48px;
    line-height: 40px;
}
.p{
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin: 20px 0 50px 0;
}
.span{
    font-weight: 700;
    font-size: 24px;
    line-height: 20px;
    color: #0071e3;
    margin: 3px 0 48px 0;
}
.product{
    display: flex;
    align-items: center;
    gap: 76px;
}
.priceOf{
    cursor: pointer;
    transition: 400ms;
}
.product_img{
    transition: 400ms;
}
.product_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.color_box{
    display: flex;
    align-items: center;
    gap: 11px;
    margin: 60px 0 40px 0;
}
.color_buttons{
    width: 155px;
    height: 42px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    border: none;
    cursor: pointer;
}
.cl_bt-1{
    background: #0071E3;
    color: #FFFFFF;
}
.cl_bt-2{
    background: #CFE7FF;
    color: #797979;
    transition: 800ms;
}
.cl_bt-2:hover{
    border: 1px solid rgb(91, 228, 91);
}
.burger{
    display: none;
}

.price_buttons{
    width: 321px;
    height: 57px;
    border: 2px solid #CFE7FF;
    border-radius: 10px;
    margin: 4px 0;
    cursor: pointer;
    padding: 17px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 300ms;
}
.price_buttons:hover{
    border: 2px solid #007FFF;
}
.pb_p{
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}
.pb_p-2{
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
}
.modal_not-activ{
    display: none;
}
.modal{
    left: 0;
    top:0;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.47);
    backdrop-filter: blur(2px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}
.modal_window{
    max-width: 592px;
    height: 388px;
    background-color: white;
    padding: 60px 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    position: relative;
}
.modl_h3{
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.form_input{
    width: 420px;
    height: 48px;
    background: #DADADA;
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 5px;
}
.form_button{
    width: 420px;
    height: 48px;
    background: #0094FF;
    border: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.modal_x{
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

.burger_section{
    width: 100%;
    height: 100vh;
    background-color: rgba(18, 17, 17,80%);
    backdrop-filter: blur(2px);
    position: fixed;
    z-index: 9;
    top: 0;
    right: -100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
    transition: 400ms;
}
.burger_sectionActiv{
    right: 0;
}
.burger_h3{
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    background: none;
    transition: 400ms;
    color: rgb(216, 216, 58);
}
.burer_a{
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    background: none;
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Poppins';
    margin: 5px 0;
}
.burer_a:hover{
    text-decoration: underline;
}
.burger{
    display: flex;
    position: fixed;
    top: 1%;
    right: 3%;
    cursor: pointer;
    z-index: 99;
    background: none;
    flex-direction:column ;
}
.burggerLine{
    width: 30px;
    height: 4px;
    background-color: #121111;
    margin: 2px 0;
    border-radius: 20px;
    transition: 300ms;
}
.burggerLineActiv{
    transition: 300ms;

}
.burggerLineActiv:nth-child(1){
    transform:translateY(8px) rotate(45deg);

}
.burggerLineActiv:nth-child(2){
    display: none;
    
}
.burggerLineActiv:nth-child(3){
    /* transform:translateY(-0.5px); */
    transform: rotate(-45deg);
}

.swiper {
    position: relative;
    max-width: 300px;
    height: 300px;
    z-index: -1;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    z-index: -1;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    z-index: -5;
  }
@media(max-width:710px){

    .shop{
        padding-top: 50px;
    }
    .h1{
        font-size: 38px;
    }
    .product{
        gap:20px;
    }
    .product_img{
        width: 250px;
    }
    .modal_window{
        height: 300px;
        padding: 25px 30px;
        gap: 25px;
    }
    .form_input{
        width: 320px;
    }
    .form_button{
        width: 320px;
    }

}
@media(max-width:500px){
    .shop{
        padding: 30px 0 10px 0;
    }
    .h1{
        font-size: 30px;
    }
    .p{
        font-size: 15px;
        margin: 20px 0 20px 0;
    }
    .product{
        flex-direction: column;
        gap: 10px;
    }
    .span{
        font-size: 19px;
    }
    .color_box{
        margin: 30px 0 20px 0;
    }
    .color_buttons{
        width: 130px;

    }
    .price_buttons{
        width: 277px;
    }
    .modal_window{
        height: 280px;
        padding: 25px 20px;
        gap: 15px;
    }
    .form_input{
        width: 250px;
    }
    .form_button{
        width: 250px;
    }
    .modal_x{
        top: 8px;
        right: 10px;
    }
}
