*{
    margin: 0;
    padding: 0;box-sizing: border-box;
    font-family: 'Poppins';
    background-color: #0071e3;
}

.container{
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 10px;
}
.shop{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0 30px 0;
}
.h1{
    font-weight: 700;
    font-size: 48px;
    line-height: 40px;
}
.p{
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin: 20px 0 50px 0;
}
.span{
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #0071e3;
    margin: -5px 0 48px 0;
}
.product{
    display: flex;
    align-items: center;
    gap: 76px;
}
.product_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.color_box{
    display: flex;
    align-items: center;
    gap: 11px;
    margin: 60px 0 40px 0;
}
.color_buttons{
    width: 155px;
    height: 42px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    border: none;
    cursor: pointer;
}
.cl_bt-1{
    background: #0071E3;
    color: #FFFFFF;
}
.cl_bt-2{
    background: #CFE7FF;
    color: #797979;
    transition: 800ms;
}
.cl_bt-2:hover{
    border: 1px solid rgb(91, 228, 91);
}
.price_buttons{
    width: 321px;
    height: 57px;
    border: 2px solid #CFE7FF;
    border-radius: 10px;
    margin: 4px 0;
    cursor: pointer;
    padding: 17px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 300ms;
}
.price_buttons:hover{
    border: 2px solid #007FFF;
}
.pb_p{
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}
.pb_p-2{
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
}



@media(max-width:710px){
    .h1{
        font-size: 38px;
    }
    .product{
        gap:20px;
    }
    .product_img{
        width: 250px;
    }
}